/* -------------------- RESET BROWSER ------------------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
}

/* ------------------ COLOR STARS ------------------ */

.blue{
    color :#0065FC;
}

.grey{
    color: #F2F2F2;
}

/* ------------------ HEADER AND NAV ------------------ */

header{
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    width: 100px;
    height: auto;
}

a{
    text-decoration: none;
}

header a{
    padding-top: 5px;
    color: #0065FC;
    font-weight: 900;
    font-size: 18px;
}

nav{
    height: 80px;
}

nav ol{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ol li{
    width: 100%;
    list-style: none;
    display: inline-block;
}

nav ol li a{
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-bottom: 12px;
    font-size: 16px;
    color: black;
    border-bottom: solid 4px #F2F2F2;
}

nav ol li a:hover{
    font-weight: 900;
    color: #0065FC;
    border-bottom: solid 4px #0065FC;
}

/* -------------------- DESCRIPTION -------------------- */

#description_site{
    margin: 10px 0 10px 0;
    padding: 0 25px 0 25px ;
}

#description_site h2{
    margin: 0 0 10px 0;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    
}

#description_site p{
    font-size: 16px;
}

/* -------------------- SEARCHING-BAR -------------------- */

.searching_bar{
    margin: 20px;
    display: flex;
}

.searching_bar input[type=submit]{
    display: none;
    border-radius: 0 20px 20px 0;
    width: 140px;
    height: 52px;
    border: solid 1px #0065FC;
    cursor: pointer;
    background: #0065FC;
    color: white;
    outline: none;
    font-size: 18px;
}
.searching_bar input[type=text]{
    background: #fff;
    width: 215px;
    height: 52px;
    border: solid 1px #F2F2F2;
    padding: 20px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

.searching_bar i{
    font-size: 20px;
    margin: auto;
}

.map-mark{
    display: flex;
    width: 52px;
    height: 52px;
    background: #F2F2F2;
    border-radius: 20px 0 0 20px;
}

.search-mark{
    position: relative;
    left: -10px;
    display: flex;
    border-radius: 15px 15px 15px 15px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    background: #0065FC;
    color: white;
}

/* -------------------- FILTERS -------------------- */

#filters{
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#filters h3{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-filters{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 52px;
    border-radius: 25px;
    border: #F2F2F2 2px solid;
    margin: 10px 10px 0 0px;
}

.button-filter p{
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin: 0 16px 0 8px;
}

.center-filter{
    position: relative;
    left: -6px;
    color: #0065FC;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DEEBFF;
}

.center-filter i{
    font-size: 20px;
}

.button-filter:hover{
    background-color: #0065FC;
    border: #0065FC 2px solid;
}

.button-filter:hover p{
    color: white;
}

.button-filter:hover .center-filter{
    background-color: white;
    border: 1px solid #0065FC;
}

/* -------------------- NOTIFICATION -------------------- */

#notification{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;
}

#notification p{
    font-size: 15px;
}

#notification .center-notif{
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    height: 25px;
    width: 25px;
    background-color: white;
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#notification .center-notif i{
    font-size: 12px;
}

/* -------------------- POPULAR -------------------- */

.most-popular{
    padding-bottom: 35px;
    margin: 20px 0 0 0;
    background-color: #F2F2F2;
}

.header-popular{
    padding: 35px 20px 35px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-popular h2{
    font-size: 20px;
    font-weight: bold;
}

.header-popular i{
    font-size: 20px;
}

/* -------------------- Card Popular -------------------- */

.container-card-popular{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-popular{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 320px;
    height: 150px;
    box-shadow: 0px 0px 10px 5px #F2F2F2;
    cursor: pointer;
}

.card-popular img{
    border-radius: 20px 0 0 20px;
    width: 140px;
    height: 140px;
    padding-left: 5px;
    object-fit: cover;
}

.infos-card-pop{
    padding-left:15px ;
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.stars{
    font-size: 12px;
}

.infos-card-top h5{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

.infos-card-top p{
    font-size: 14px;
}

/* -------------------- HEBERGEMENT -------------------- */

.hebergement-city{
    margin-bottom: 50px;
}

.hebergement-city h2{
    margin: 20px 0 30px 0;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.container-hebergement{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.card-heberg{
    border-radius: 20px;
    width: 320px;
    height: 190px;
    box-shadow: 0px 0px 10px 5px #F2F2F2;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.card-heberg img{
    padding-top: 5px;
    border-radius: 20px 20px 0 0;
    width: 310px;
    height: 110px;
    object-fit: cover;
}

.infos-card-heb{
    align-self: flex-start;
    padding: 10px 0 0 14px;
}

.infos-card-heb h5{
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.infos-card-heb p{
    margin-bottom: 5px;
    font-size: 14px;
}

.stars-h{
    align-self: flex-start;
    padding-left: 14px;
    font-size: 12px;
}

.readmore{
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    margin: 10px 0 30px 0;
}

/* -------------------- ACTIVITES -------------------- */

#activities_city{
    display: flex;
    align-items :center;
    flex-direction: column;
    margin-bottom: 30px;
}

#activities_city h2{
    align-self: flex-start;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.container-activites{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-activity{
    border-radius: 20px;
    margin: 15px;
    box-shadow: 0px 0px 10px 5px #F2F2F2;
    background-color: white;
    height: 190px;
    width: 320px;
    cursor: pointer;
}

.card-activity img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 135px;
    object-fit: cover;
}

.card-activity h5{
    font-weight: bold;
    font-size: 15px;
    padding: 10px 0 0 20px;
}

/* -------------------- FOOTER -------------------- */

footer{
    width: 100%;
    background-color: #F2F2F2;
    padding: 40px 0 40px 20px;
}

.about-section, .hebergements-section {
    margin-bottom: 40px;
}

footer ul li{
    list-style: none;
    font-size: 15px;
    margin-bottom: 10px;
}

footer h4{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}



/* -------------------------------- RESPONSIVE -------------------------------- */ 

/* -------- RESPONSIVE FOOTER -------- */
@media screen and (min-width:800px){
    footer{
        padding-left: 40px;
        margin-top: 30px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    footer div{
        width: 100%;
    }
    footer div li{
        width: 100%;
    }
}

/* -------- RESPONSIVE ACTIVITIES -------- */
@media screen and (min-width:690px){
    .container-activities{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (min-width:1200px){
    #activities_city h2{
        font-size: 22px;
        margin: 0 0 0 35px;
    }
    #activities_city h5{
        padding-top: 10px;
        font-size: 19px;
    }
    .container-act-1, .container-act-2{
        display: flex;
        flex-direction: row;
    }

    .activity-col2, .activity-col3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-activity{
        width: 300px;
        margin: 20px;
    }
    .column1{
        height: 495px;
    }
    .column1 img{
        height: 430px;
    }
    .column2{
        height: 270px;
    }
    .column2 img{
        height: 205px;
    }
    .column3{
        height: 185px;
    }
    .column3 img{
        height: 120px;
    }
    .column4{
        height: 222px;
    }
    .column4 img{
        height: 155px;
    }
    .column5{
        height: 232px;
    }
    .column5 img{
        height: 167px;
    }
}
@media screen and (min-width:1900px){
    .card-activity{
        width: 420px;
        margin: 20px;
    }
}

/* -------- HEBERGEMENT RESPONSIVE -------- */
@media screen and (min-width:700px){
    .container-hebergement{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-heberg{
        margin: 15px;
    }
    .card-popular{
        margin:20px;
    }
}
@media screen and (min-width:1050px){
    .container-card-popular{
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width:1200px){
    .container-column1, .container-column2{
        display: flex;
        flex-direction: row;
    }
    #container_all_hebergement{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin: 20px 0 50px 0;
        padding: 0 50px 0 50px;

    }
    .container-card-popular{
        flex-direction: column;
    }
    .hebergement-city{
        border-radius: 25px;
        background-color: #F2F2F2;
        height: 680px;
        width: 70%;
        margin: 0 20px 0 0;
        padding: 0 30px 0 30px;
    }
    .most-popular{
        border-radius: 25px;
        height: 680px;
        width: 35%;
        margin: 0 0 0 20px;  
    }
    .card-popular{
        width: 85%;
        height: 160px;
        margin: 15px;
    }

    .card-popular .infos-card-top{
        padding-right: 30px;
    }

    .card-popular img{
        height: 150px;
        width: 150px;
    }
    .card-heberg{
        margin: 15px;
        width: 33.3%;
        height: 220px;
    }
    .card-heberg img{
        padding: 5px;
        width: 100%;
        height: 130px;
    }
    .header-popular{
        margin: 10px 0 10px 0;
        padding: 35px 40px 5px 40px;
    }
    .hebergement-city h2{
        margin: 50px 0 10px 0;
    }
    .infos-card-heb h5{
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    .infos-card-heb p{
        margin-bottom: 5px;
    }
    .stars-h{
        align-self: flex-start;
        padding-left: 14px;
    }
    .infos-card-top h5{
        padding-bottom: 10px;
        font-weight: bold;
    }
}

/* -------- HEADER AND NAV RESPONSIVE -------- */
@media screen and (min-width:1200px){
    header{
        padding: 30px 60px 0 50px;
    }
    nav{
        height: 10px;
    }
    nav ol{
        position: relative;
        left: -115px;
        top: -50px;
        justify-content: flex-end;
    }
    nav ol li{
        width: 185px;
    }
    nav ol li a{
        padding: 0 35px 0 35px;
        display: inline;
        border-bottom: none;
    }
    nav ol li a:hover{
        padding-top: 42px ;
        border-top: 4px solid #0065FC;
        border-bottom: none;
    }

}

/* -------- FILTERS, NOTIF, BAR, TEXT -------- */
@media screen and (min-width:1200px){
    #filters{
        flex-direction: row;
        align-items: center;
    }
    #filters h3{
        margin: 10px 30px 0 30px;
    }
    #notification{
        margin: 10px 0 10px 30px;
    }
    .searching_bar{
        margin: 20px 0 0 50px;
    }
    #description_site{
        margin: 10px 0px 10px 30px;  
    }
    .button-filter{
        margin: 10px 30px 0 0px;
    }
    .button-filter p{
        margin: 0 30px 0 15px;
    }
    .searching_bar input[type=submit]{
        display: block;
    }
    .search-mark{
        display: none;
    }
    .searching_bar form{
        display: flex;
    }
    .searching_bar input[type=text]{
        width: 220px;
    }
}

/* -------- HEADER AND NAV RESPONSIVE -------- */
@media screen and (min-width:1200px){
    header{
        padding: 30px 60px 0 50px;
    }
    nav{
        height: 10px;
    }
    nav ol{
        position: relative;
        left: -115px;
        top: -50px;
        justify-content: flex-end;
    }
    nav ol li{
        width: 185px;
    }
    nav ol li a{
        padding: 0 35px 0 35px;
        display: inline;
        border-bottom: none;
    }
    nav ol li a:hover{
        padding-top: 42px ;
        border-top: 4px solid #0065FC;
        border-bottom: none;
    }
}